@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #f3f3f4;
}

h1{
    font-size: 30px;
    font-weight: 600;
}

h2{
  font-size:5px;
}


.carousel-item{
    height: 55vh;

}

.image{
    height: 55vh;
    opacity: 0.7;
}

.text{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}

.clients-contans{
    margin: 2.5% 5%;
}

.clients-contans .max-width h1{
    text-decoration: underline;
    font-weight: bolder;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.clients-contans .max-width h2{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

.clients-contans .max-width .card-container{
    display: block;
}

.clients-contans .max-width .card-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:150px ;
    margin-top: 25px;
}

.clients-contans .max-width .card-container .client-card{
    width: calc(100%/6);
    margin: 10px;
    padding: 10px;
    border: #000 solid 1px;
}

.clients-contans .max-width .card-container .client-card img{
    width: 100%;
    height: 100%;
}

.clients-contans .max-width .card-container .deactive{
    width: calc(100%/6);
}




