@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: black;
}

h1{
    font-size: 30px;
    font-weight: 600;
}

h2{
  font-size:5px;
}

.carousel-item{
    height: 50vh;

}

.image{
    height: 55vh;
    opacity: 0.7;
}

.text{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}
